### /Users/kagetomo/.gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~


### /Users/kagetomo/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/kagetomo/.gitignore-boilerplates/Global/Windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


### /Users/kagetomo/.gitignore-boilerplates/Global/Vim.gitignore

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.swp


### /Users/kagetomo/.gitignore-boilerplates/C.gitignore

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


